.advantages {
  padding: 118px 0 116px;
  background-color: $background-light;
}

.advantages__header {
  text-align: center;
  margin-bottom: 62px;
}

.advantages__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 60px;
  list-style: none;
}

.advantages__item {
  margin-right: 0;

  &--blue {
    position: absolute;
    top: 7px;
    left: calc(50% + 1px);
    transform: translateX(-50%);
    box-sizing: border-box;
  }

  &:first-child,
  &:nth-child(even) {
    margin-right: 360px;

    .advantages__card {
      padding-left: 157px;
    }

    .advantages__number-description {
      padding-left: 19px;
    }
  }

  &:nth-child(2),
  &:nth-child(odd) {
    .advantages__text-description {
      box-sizing: border-box;
      padding-right: 5px;
    }

    .advantages__card {
      padding-left: 102px;
    }
  }

  &:first-child {
    .advantages__card {
      padding-left: 164px;
    }

    .advantages__number-description {
      padding-left: 27px;
    }
  }

  &:first-child,
  &:nth-child(3) {
    .advantages__text-description {
      padding-right: 0;
    }
  }

  &:nth-child(2) {
    margin-right: 0;

    .advantages__number-description {
      padding-left: 0;
    }
  }

  &:nth-child(3) {
    .advantages__card {
      padding: 35px 34px 58px;
    }
  }
}

.advantages__card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 340px;
  padding-top: 74px;

  img {
    margin-bottom: 6px;
    padding-left: 3px;
  }

  &--blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 240px;
    text-align: center;
    color: $foreground-light;
    background-color: $accent-blue;

    .advantages__number {
      margin-left: -4px;
      font-size: 74px;
      line-height: 150%;
    }

    .advantages__number-item {
      margin-top: -15px;
      margin-bottom: 25px;
      font-weight: 700;
      font-size: 26px;
      line-height: 150%;
      color: $foreground-light;
    }

    .advantages__text-description {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }
  }

  &--350 {
    img {
      width: 103px;
      height: 53px;
    }
  }

  &--900,
  &--70 {
    padding-top: 0;
    padding-bottom: 77px;
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);

    .advantages__number-description {
      padding-top: 0;
    }
  }

  &--900 {
    img {
      width: 102px;
      height: 53px;
    }
  }

  &--70 {
    img {
      width: 67px;
      height: 53px;
    }
  }

  &--5 {
    img {
      width: 65px;
      height: 52px;
    }
  }
}

.advantages__card-header {
  margin: 0;
  font-size: 22px;
  line-height: 150%;
}

.advantages__number-description {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin-top: 4px;
  padding-top: 74px;
}

.advantages__number-item {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2e35ac;
}

.advantages__text-description {
  margin: 0;
  margin-top: 6px;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}


@media (max-width: $tablet) {
  .advantages {
    padding: 99px 0 94px;
  }

  .advantages__header {
    margin-bottom: 43px;
  }

  .advantages__list {
    padding: 0;
  }

  .advantages__item {
    width: 50%;
    margin: 0;

    &--blue {
      position: static;
      transform: none;
      width: 65.1%;
      margin: auto;
    }

    &:first-child,
    &:nth-child(even) {
      margin-right: 0;

      .advantages__card {
        padding-left: 118px;
      }

      .advantages__number-description {
        padding-left: 0;
      }

      .advantages__text-description {
        width: 185px;
      }
    }

    &:nth-child(2),
    &:nth-child(odd) {
      .advantages__text-description {
        width: 100%;
      }

      .advantages__card {
        padding-left: 102px;
      }

      .advantages__number-description {
        padding-left: 14px;
      }
    }

    &:first-child {
      .advantages__card {
        padding-top: 0;
        padding-left: 118px;
      }

      .advantages__number-description {
        padding-left: 0;
      }
    }

    &:nth-child(2) {
      .advantages__card {
        padding-top: 0;
      }
    }

    &:nth-child(3) {
      .advantages__card {
        padding: 14px 135px 39px;
      }
    }
  }

  .advantages__card {
    padding-top: 42px;

    &--blue {
      max-width: none;

      .advantages__number-item {
        display: block;
        margin-top: -19px;
        margin-bottom: 11px;
        font-size: 22px;
      }
    }

    img {
      margin-bottom: 4px;
    }

    &--900,
    &--350 {
      img {
        width: 84px;
        height: 43px;
      }
    }

    &--70 {
      img {
        width: 56px;
        height: 43px;
      }
    }

    &--5 {
      img {
        width: 53px;
        height: 43px;
      }
    }

    &--900,
    &--70 {
      padding-bottom: 44px;
      border: none;
    }

    .advantages__card-header {
      font-size: 20px;
    }
  }

  .advantages__number-description {
    margin-top: 8px;
    padding-top: 42px;
  }

  .advantages__text-description {
    margin-top: 2px;
  }
}

@media (max-width: $mobile) {
  .advantages {
    padding-top: 71px;
    padding-bottom: 39px;
  }

  .advantages__container {
    width: 100%;
    padding: 0;
  }

  .advantages__header {
    margin-bottom: 31px;
  }

  .advantages__list {
    flex-direction: column;
    width: 100%;
  }

  .advantages__item {
    width: 100%;
    margin-bottom: 15px;

    &:nth-child(odd),
    &:nth-child(even) {
      .advantages__card {
        padding: 10px 0;

        &--blue {
          padding-bottom: 30px;
        }
      }

      .advantages__number-description {
        padding: 0;
      }

      .advantages__text-description {
        padding: 0;
        text-align: center;
      }
    }

    &--blue {
      margin-top: 19px;
      margin-bottom: 29px;
    }
  }

  .advantages__card {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;

    &--blue {
      width: 100%;

      .advantages__card-header {
        margin-top: 10px;
      }

      .advantages__text-description {
        margin-top: -2px;
        margin-bottom: 12px;
      }

      .advantages__number-item {
        margin-top: -24px;
      }
    }

    img {
      padding-left: 0;
    }

    &--900,
    &--350,
    &--blue {
      .advantages__text-description {
        max-width: 185px;
      }
    }

    &--5 {
      .advantages__text-description {
        max-width: 230px;
      }
    }
  }

  .advantages__number-description {
    position: static;
    order: 1;
    margin-bottom: 7px;
  }

  .advantages__number-item {
    text-align: center;
  }

  .advantages__card-header {
    order: 2;
  }

  .advantages__text-description {
    box-sizing: content-box;
    order: 3;
    margin-top: 1px;
  }
}
