.container {
  box-sizing: border-box;
  width: auto;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

@media (max-width: $tablet) {
  .container {
    padding: 0 45px;
  }
}

@media (max-width: $mobile) {
  .container {
    padding: 0 15px;
  }
}
