.contacts {
  box-sizing: border-box;
  min-width: 404px;
  margin-right: 45px;
  padding-top: 67px;
  padding-left: 20px;
}

.contacts__header {
  margin-top: 0;
  margin-bottom: 43px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 410px;
  margin: 0;
  padding: 0;
  padding-left: 4px;
  list-style: none;
}

.contacts__item {
  box-sizing: border-box;
  width: 42%;
  padding-left: 53px;
  padding-top: 17px;

  &:nth-child(odd) {
    width: 58%;
    max-width: 231px;
    padding-right: 60px;
    padding-left: 0;
    border-right: 1px solid #74819c;
  }

  &:first-child,
  &:nth-child(2) {
    padding-top: 0;
  }
}

.contacts__item-header {
  margin-top: 0;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.contacts__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $foreground;
}

.contacts__link {
  display: block;
  margin-top: 2px;
  text-decoration: none;
  color: $foreground;
  transition: 0.4s ease;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

@media (max-width: $tablet) {
  .contacts {
    padding-top: 69px;
    width: 100%;
    max-width: 506px;
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 63px;
  }

  .contacts__list {
    max-width: 100%;
  }

  .contacts__header {
    margin-bottom: 34px;
  }

  .contacts__item {
    margin-left: -2px;
    padding-top: 21px;

    &:nth-child(odd) {
      width: 53%;
      max-width: none;
      padding-right: 10px;
    }

    &:nth-child(even) {
      width: 47%;
      padding-left: 46px;
    }
  }

  .contacts__item-header {
    margin-bottom: 4px;
    font-size: 20px;
  }

  .contacts__description,
  .contacts__link {
    font-size: 18px;
    line-height: 152.34%;
  }
}

@media (max-width: $mobile) {
  .contacts {
    min-width: 0;
    padding-bottom: 44px;
  }

  .contacts__list {
    flex-direction: column;
    padding-left: 3px;
  }

  .contacts__item {
    margin-bottom: 19px;

    &:nth-child(odd),
    &:nth-child(even) {
      width: 100%;
      max-width: 100%;
      padding: 0;
      border: none;
    }

    &--adress {
      order: 1;
    }

    &--schedule {
      order: 2;
    }

    &--phone {
      order: 3;
    }

    &--email {
      order: 4;
    }
  }

  .contacts__item-header {
    margin-bottom: 6px;
  }
}
