.feedback {
  padding-top: 58px;
  padding-bottom: 120px;
}

.feedback__container {
  width: 712px;
  max-width: 848px;
}

.feedback__header {
  margin-bottom: 52px;
  text-align: center;
}

.feedback__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $accent-blue;
}

.feedback__card {
  position: relative;
  box-sizing: border-box;
  padding: 54px 60px 42px 170px;
  color: $foreground-light;
}

.feedback__picture {
  position: absolute;
  top: 62px;
  left: 62px;
}

.feedback__name {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.feedback__text {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

@media (max-width: $tablet) {
  .feedback {
    padding-top: 58px;
    padding-bottom: 100px;
  }

  .feedback__container {
    width: 100%;

    .slider__buttons {
      padding: 0;
    }
  }

  .feedback__header {
    margin-bottom: 41px;
  }

  .feedback__card {
    padding-left: 173px;
    padding-right: 65px;
  }

  .feedback__picture {
    left: 65px;
  }
}
