.footer {
  padding: 38px 0;
  background-color: $background-darker;
}

.footer__navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__navigation-item {
  margin-right: 40px;

  &--logo {
    width: 135px;
    margin-top: 6px;
    margin-right: auto;
  }

  &:nth-last-child(2) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
    margin-left: auto;
  }
}

.footer__logo {
  width: 89px;
  height: 20px;

  svg {
    width: 89px;
    height: 20px;
  }
}

.footer__navigation-link {
  margin-right: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: $foreground-light;
  transition: 0.4s ease;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.footer__social-list {
  width: 135px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-item {
  margin-left: 25px;
}

.footer__social-link {
  display: block;
  transition: 0.4s ease;
  outline: none;

  &--vk {
    width: 24px;
    height: 13px;
  }

  &--insta {
    width: 24px;
    height: 24px;
  }

  &--fb {
    width: 12px;
    height: 24px;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}


@media (max-width: $tablet) {
  .footer {
    padding: 41px 0;
  }

  .footer__logo {
    width: 82px;
    height: 18px;
    margin-right: 20px;

    svg {
      width: 82px;
      height: 18px;
    }
  }

  .footer__navigation-item {
    margin-right: 30px;

    &--logo {
      width: 82px;
      margin-top: 6px;
      margin-right: auto;
    }

    &:nth-last-child(2) {
      margin-right: -20px;
    }
  }

  .footer__social-list {
    width: 100px;
  }

  .footer__social-item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }
}

@media (max-width: $mobile) {
  .footer {
    padding: 49px 0 48px;
  }

  .footer__logo {
    width: 68px;
    height: 15px;

    svg {
      width: 68px;
      height: 15px;
    }
  }

  .footer__navigation-item {
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    margin-bottom: 14px;

    &:nth-child(even) {
      padding-left: 15px;
    }

    &--logo {
      order: 1;
    }

    &--sale {
      margin-top: -5px;
      order: 2;
    }

    &--services {
      order: 3;
    }

    &--trainers {
      order: 4;
    }

    &--membership {
      order: 5;
    }

    &--schedule {
      order: 6;
    }

    &--social {
      order: 7;
      width: 100%;
    }
  }

  .footer__navigation-link {
    font-size: 16px;
    line-height: 19px;
  }

  .footer__social-list {
    margin-top: 20px;
    width: 100%;
  }

  .footer__social-item {
    margin-right: 35px;
    margin-left: 0;
  }

  .footer__social-link {
    &--vk {
      width: 32px;
      height: 17px;
    }

    &--insta {
      width: 27px;
      height: 27px;
    }

    &--fb {
      width: 14px;
      height: 27px;
    }

    svg {
      vertical-align: bottom;
    }
  }
}
