.free-training {
  padding-top: 70px;
  width: 50%;
  max-width: 480px;
  margin-right: auto;
}

.free-training__header {
  margin-top: 0;
}

.free-training__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 410px;
}

.free-training__container {
  box-sizing: border-box;
  width: 48%;
  max-width: 190px;
  border-bottom: 1px solid $background;
}

input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 9px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $foreground-light;
  background-color: transparent;
  border: none;
  outline: none;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $foreground-light;
  }
}

.free-training__button {
  width: 100%;
  margin-top: 30px;
  padding: 21px;
}
