.gym {
  padding-top: 120px;
  padding-bottom: 235px;
  background-color: $background;
}

.gym__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.gym__wrapper {
  margin-right: auto;
  max-width: 355px;
  margin-left: 60px;
}

.gym__header {
  margin-top: 47px;
  margin-bottom: 8px;
}

.gym__description {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.gym__text {
  margin-top: 0;
  margin-bottom: 8px;
}

.gym__promo-image {
  background-color: #ccccba;
  width: 660px;
  height: 401px;
  margin: 0;
  font-size: 0;
  line-height: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.gym__video-container {
  position: absolute;
  left: 457px;
  top: 288px;
  width: 364px;
  height: 228px;
  background-image: url("../img/video-fallback.jpg");
  background-color: rgba(20, 54, 122, 0.5);


  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/video-fallback@2x.jpg");
  }
}

.gym__video-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 54, 122, 0.5);
}


@media (max-width: $tablet) {
  .gym {
    padding-top: 99px;
    padding-bottom: 183px;
  }

  .gym__container {
    flex-direction: column;
    align-items: center;
  }

  .gym__wrapper {
    max-width: unset;
    margin: 0 78px;
    margin-bottom: 34px;
  }

  .gym__header,
  .gym__description,
  .gym__text {
    text-align: center;
  }

  .gym__header {
    margin-top: 0;
    margin-bottom: 9px;
  }

  .gym__description {
    margin-bottom: 35px;
  }

  .gym__text {
    &--tablet-hidden {
      display: none;
    }
  }

  .gym__promo-image {
    width: 678px;
    height: auto;
  }

  .gym__video-container {
    top: unset;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    width: 266px;
    height: 167px;
  }

  .gym__play-button {
    &::after {
      width: 73px;
      height: 73px;
      background-size: 73px;
    }
  }
}

@media (max-width: $mobile) {
  .gym {
    padding-top: 67px;
    padding-bottom: 70px;
  }

  .gym__container {
    display: block;
    padding: 0;
  }

  .gym__wrapper {
    display: block;
    margin: 0;
    padding: 0 15px;
  }

  .gym__header,
  .gym__description,
  .gym__text {
    text-align: left;
  }

  .gym__header {
    margin-bottom: 6px;
  }

  .gym__description {
    margin-bottom: 23px;
  }

  .gym__text {
    margin-bottom: 35px;
    padding-right: 30px;
  }

  .gym__promo-image {
    width: 100%;
    margin-bottom: 40px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .gym__video-container {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 0;
    padding-top: 52.18%;
    background-image: url("../img/video-fallback-mobile.jpg");
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-fallback-mobile@2x.jpg");
    }
  }

  .gym__video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
