.membership {
  position: relative;
  padding: 118px 0 100px;
  background-color: $background-light;

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: -152px;
    right: 0;
    display: block;
    width: 287px;
    height: 494px;
    background-repeat: no-repeat;
    background-size: 287px 494px;
  }
}

.no-webp .membership {
  &::before {
    background-image: url("../img/rod-pancakes.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before {
      background-image: url("../img/rod-pancakes@2x.png");
    }
  }
}

.webp .membership {
  &::before {
    background-image: url("../img/rod-pancakes.webp");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before {
      background-image: url("../img/rod-pancakes@2x.webp");
    }
  }
}

.membership__header {
  margin-bottom: 23px;
  text-align: center;
}

.membership__duration-wrapper {
  max-width: 341px;
  margin: 0 auto 37px;
  overflow: hidden;
}

.membership__duration-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -46px;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.membership__duration-item {
  margin-left: 46px;
}

.membership__link {
  display: block;
  padding: 12px 0;
  font-family: $roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-decoration: none;
  color: rgba(16, 38, 84, 0.5);
  transition: 0.4s ease;
  outline: none;

  &:focus,
  &:hover,
  &--active {
    position: relative;
    color: $foreground;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #d10a42;
    }
  }

  &:hover,
  &:focus {
    color: $foreground;
  }
}

.membership__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: $tablet) {
  .membership {
    padding-top: 99px;
    padding-bottom: 60px;

    &::before {
      bottom: -125px;
      width: 347px;
      height: 444px;
      background-size: 347px 444px;
      background-repeat: no-repeat;
    }
  }

  .no-webp .membership {
    &::before {
      background-image: url("../img/rod-pancakes-tablet.png");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      &::before {
        background-image: url("../img/rod-pancakes-tablet@2x.png");
      }
    }
  }

  .webp .membership {
    &::before {
      background-image: url("../img/rod-pancakes-tablet.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      &::before {
        background-image: url("../img/rod-pancakes-tablet@2x.webp");
      }
    }
  }

  .membership__header {
    margin-bottom: 18px;
  }

  .membership__duration-wrapper {
    max-width: 332px;
    margin-bottom: 44px;
  }

  .membership__duration-list {
    margin-left: -54px;
  }

  .membership__duration-item {
    margin-left: 54px;
  }

  .membership__link {
    padding-bottom: 11px;
    font-size: 18px;
    line-height: 150%;
  }

  .membership__options {
    flex-direction: column;
    width: 442px;
    margin: auto;
  }
}


@media (max-width: $mobile) {
  .membership {
    padding-top: 67px;
    padding-bottom: 32px;

    &::before {
      display: none;
      background-image: none;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      &::before {
        display: none;
        background-image: none;
      }
    }
  }

  .membership__duration-wrapper {
    max-width: 290px;
    margin-bottom: 34px;
  }

  .membership__duration-list {
    margin-left: -45px;
  }

  .membership__duration-item {
    margin-left: 45px;
  }

  .membership__header {
    margin-bottom: 12px;
  }

  .membership__link {
    font-size: 16px;
    line-height: 150%;
  }

  .membership__options {
    width: 100%;
  }
}
