.membership-card {
  z-index: 2;
  box-sizing: border-box;
  width: 31%;
  margin-right: 3.5%;
  margin-bottom: 20px;
  padding: 7px;
  background-color: $background;
  transition: 0.4s ease;
  outline: none;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover,
  &:focus,
  &--active {
    background: linear-gradient(to right bottom, #d10a42, #00359f);

    .membership-card__price {
      transform: translateY(-5px);

      &::before {
        transform: translate(-50%, 2px);
      }
    }

    .membership-card__link {
      color: $foreground-light;
      background: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);

      &:hover,
      &:focus {
        color: $foreground-light;
        background: linear-gradient(111.72deg, #ed0233 1.6%, #003eb7 85.31%);
      }
    }
  }
}

.membership-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 56px 20px 59px;
  background-color: $background;
}

.membership-card__header {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: $roboto;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
}

.membership-card__description {
  margin-bottom: 65px;
  font-family: $roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #495a7d;
}

.membership-card__price {
  z-index: 1;
  position: relative;
  display: block;
  margin-bottom: 34px;
  padding-right: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 150%;
  color: #103aae;
  transition: 0.4s ease;

  &::before {
    position: absolute;
    z-index: -1;
    left: 50%;
    bottom: -7px;
    transform: translate(-50%, 0);
    font-family: $roboto;
    font-weight: bold;
    font-size: 100px;
    line-height: 150%;
    color: #e8e8e8;
    opacity: 0.47;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    display: block;
    width: 30px;
    height: 42px;
    background-image: url("../img/icon-ruble.svg");
    background-size: 30px 42px;
    background-repeat: no-repeat;
  }

  &--5000 {
    &::before {
      content: "5000";
    }
  }

  &--1700 {
    &::before {
      content: "1700";
    }

    &::after {
      bottom: calc(50% - 5px);
    }
  }

  &--2700 {
    &::before {
      content: "2700";
    }
  }
}

.membership-card__link {
  width: 206px;
  padding: 24px;
  color: $foreground;
  border: 2px solid $accent-blue;

  &:hover,
  &:focus {
    color: $foreground-light;
    background: linear-gradient(111.72deg, #ed0233 1.6%, #003eb7 85.31%);
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $tablet) {
  .membership-card {
    width: 100%;
    margin-left: 0;
    margin-bottom: 40px;
  }

  .membership-card__price {
    padding-right: 45px;

    &--1700 {
      margin-top: 4px;
      margin-bottom: 30px;

      &::after {
        bottom: 50%;
      }
    }
  }

  .membership-card__wrapper {
    padding-bottom: 60px;
  }
}

@media (max-width: $mobile) {
  .membership-card {
    margin-bottom: 35px;
  }

  .membership-card__wrapper {
    padding: 43px 34px 49px;
  }

  .membership-card__header {
    font-size: 22px;
    line-height: 110.16%;
  }

  .membership-card__description {
    margin-bottom: 53px;
  }

  .membership-card__price {
    margin-bottom: 30px;
    padding-right: 36px;
    font-size: 48px;

    &::before {
      bottom: -3px;
      font-size: 80px;
      line-height: 150%;
      opacity: 0.48;
    }

    &::after {
      width: 24px;
      height: 33px;
      background-size: 24px 33px;
    }

    &--1700 {
      margin-bottom: 26px;
    }
  }

  .membership-card__link {
    width: 100%;
  }
}
