.offers {
  padding-top: 118px;
  padding-bottom: 60px;
  background-color: $background;
}

.offers__header {
  margin-bottom: 52px;
  text-align: center;
}

.offers__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers__promo-offer {
  box-sizing: border-box;
  width: 49%;
  max-width: 560px;
}

.offers__list {
  box-sizing: content-box;
  width: 49%;
  max-width: 560px;
  margin: 0;
  margin-top: -40px;
  padding: 0;
  list-style: none;
}

.offers__item {
  box-sizing: border-box;
  width: 100%;
  min-height: 211px;
  margin-top: 40px;
  padding: 7px;
  background: linear-gradient(to right bottom, #d10a42, #00359f);
}

.offers__card {
  box-sizing: border-box;
  display: flex;
  min-height: 197px;
  height: 100%;
  flex-direction: column;
  padding: 19px 28px 29px;
  color: $accent-blue;
  background-color: $background;
}

.offers__card-header {
  margin-top: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
}

.offers__description {
  margin-top: -23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.offers__link {
  display: block;
  align-self: flex-start;
  position: relative;
  margin-top: auto;
  padding-bottom: 1px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: $accent-blue;
  transition: 0.4s ease;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: none;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $accent-blue;
    transition: 0.4s ease;
  }

  &:hover,
  &:focus {
    opacity: 0.7;

    &::after {
      transform: translateY(1px) scaleY(2.5);
      opacity: 1;
    }
  }
}

@media (max-width: $tablet) {
  .offers {
    padding-top: 99px;
    padding-bottom: 41px;
  }

  .offers__header {
    margin-bottom: 41px;
  }

  .offers__promo-offer {
    width: 100%;
    max-width: unset;
  }

  .offers__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    max-width: unset;
    margin-top: 0;
    margin-left: -30px;
  }

  .offers__item {
    box-sizing: border-box;
    width: 45%;
    min-width: 324px;
    margin-top: 30px;
    margin-left: 30px;
  }

  .offers__description {
    &--pr30 {
      padding-right: 40px;
    }
  }
}
