.promo-offer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-height: 462px;
  padding: 6px 46px 45px;
  padding-right: 316px;
  color: $foreground-light;
  background-color: $accent-red;
  background-image: url("../img/offer.jpg");
  background-position: right center;
  background-size: 280px 462px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.promo-offer__header {
  position: relative;
  max-width: 150px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 156%;

  &--accented {
    display: block;
    top: -25px;
    left: 0;
    font-size: 70px;
    line-height: 156%;
  }
}

.promo-offer__description {
  margin-top: -25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.promo-offer__link {
  font-size: 14px;
  line-height: 16px;
  color: $foreground-light;

  &::after {
    background-color: $background;
  }
}
