.promo-offer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-height: 462px;
  padding: 6px 46px 45px;
  padding-right: 316px;
  color: $foreground-light;
  background-color: $accent-red;
  background-position: right center;
  background-size: 280px 462px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.no-webp .promo-offer {
  background-image: url("../img/offer.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/offer@2x.jpg");
  }
}

.webp .promo-offer {
  background-image: url("../img/offer.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/offer@2x.webp");
  }
}

.promo-offer__header {
  position: relative;
  max-width: 150px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 156%;

  &--accented {
    display: block;
    top: -25px;
    left: 0;
    font-size: 70px;
    line-height: 156%;
  }
}

.promo-offer__description {
  margin-top: -25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.promo-offer__link {
  font-size: 14px;
  line-height: 16px;
  color: $foreground-light;

  &::after {
    background-color: $background;
  }
}

@media (max-width: $tablet) {
  .promo-offer {
    min-width: 100%;
    margin-bottom: 0;
    padding-right: 440px;
    background-size: 399px 462px;
  }

  .no-webp .promo-offer {
    background-image: url("../img/offer-tablet.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/offer-tablet@2x.jpg");
    }
  }

  .webp .promo-offer {
    background-image: url("../img/offer-tablet.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/offer-tablet@2x.webp");
    }
  }
}

@media (max-width: $mobile) {
  .promo-offer {
    align-items: center;
    width: 100%;
    min-height: 0;
    padding: 6px 45px calc(97% + 62px);
    margin-bottom: 31px;
    background-size: contain;
    background-position: center bottom;
  }

  .no-webp .promo-offer {
    background-image: url("../img/offer-mobile.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/offer-mobile@2x.jpg");
    }
  }

  .webp .promo-offer {
    background-image: url("../img/offer-mobile.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/offer-mobile@2x.webp");
    }
  }

  .promo-offer__header,
  .promo-offer__description {
    text-align: center;
  }

  .promo-offer__description {
    margin-top: -30px;
    margin-bottom: 31px;
  }

  .promo-offer__link {
    align-self: center;
    margin-top: 0;
  }
}
