.section-header {
  margin: 0;
  font-family: $bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;

  &--inversed {
    color: $foreground-light;
  }
}

@media (max-width: $tablet) {
  .section-header {
    font-size: 42px;
    line-height: 42px;
  }
}


@media (max-width: $mobile) {
  .section-header {
    font-size: 32px;
    line-height: 32px;
  }
}
