.trainers {
  position: relative;
  padding: 59px 0 120px;
}

.trainers__header {
  margin-left: 2px;
  margin-bottom: 52px;
}

.trainers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: $tablet) {
  .trainers {
    padding: 39px 0 100px;
  }

  .trainers__header {
    margin-left: 0;
    margin-bottom: 41px;
    text-align: center;
  }

  .trainers__list {
    max-width: 678px;
    margin: auto;
    padding: 0 45px;
  }
}

@media (max-width: $mobile) {
  .trainers {
    padding-bottom: 70px;
  }

  .trainers__header {
    margin-bottom: 44px;
  }

  .trainers__list {
    width: 100%;
    max-width: none;
    padding: 0;
  }
}
