.trainers {
  position: relative;
  padding: 59px 0 120px;
}

.trainers__header {
  margin-left: 2px;
  margin-bottom: 52px;
}

.trainers__container {
  position: relative;
  max-width: 1274px;
  padding: 0 57px;
}

.trainers__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: $tablet) {
  .trainers {
    padding: 39px 0 100px;
  }

  .trainers__container {
    margin: 0 45px;
    padding: 0 55px;

    img {
      width: 100%;
    }
  }

  .trainers__header {
    margin-left: 0;
    margin-bottom: 41px;
    text-align: center;
  }
}

@media (max-width: $mobile) {
  .trainers {
    padding-bottom: 70px;
  }

  .trainers__container {
    margin: 0;
    padding: 0 45px;
  }

  .trainers__header {
    margin-bottom: 44px;
  }

  .trainers__list {
    width: 100%;
  }
}
