.trainers {
  position: relative;
  padding: 59px 0 120px;
}

.trainers__header {
  margin-left: 2px;
  margin-bottom: 52px;
}

.trainers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
