@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"),
    local("RobotoCondensed-Light"),
    url("../fonts/roboto-condensed-v18-latin_cyrillic-300.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v18-latin_cyrillic-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"),
    local("RobotoCondensed-Regular"),
    url("../fonts/roboto-condensed-v18-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v18-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"),
    local("RobotoCondensed-Bold"),
    url("../fonts/roboto-condensed-v18-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v18-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: local("Bebas Neue Regular"),
    local("BebasNeue-Regular"),
    url("../fonts/bebas-neue-regular.woff2") format("woff2"),
    url("../fonts/bebas-neue-regular.woff") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  src: local("Bebas Neue Bold"),
    local("BebasNeue-Regular"),
    url("../fonts/bebas-neue-bold.woff2") format("woff2"),
    url("../fonts/bebas-neue-bold.woff") format("woff");
}
