// Breakpoints
$tablet: 1023px;
$mobile: 767px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Fonts
$roboto: "Roboto Condensed", "Arial", sans-serif;
$bebas: "Bebas Neue", "Arial", sans-serif;

// Colors
$accent-blue: #1c3374;
$accent-red: #ed0233;

$background: #ffffff;
$background-light: #f8f9fc;
$background-dark: #102654;
$background-darker: #030a1a;

$foreground: #102654;
$foreground-dark: #1c3374;
$foreground-light: #ffffff;
